* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  font-family: Chivo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232E3C;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin: 0; }

h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin: 0; }

h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.14px;
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none;
  font-family: "Roboto Mono";
  font-weight: 500;
  color: #232E3C; }
  a:hover:not(.button-large) {
    opacity: 0.5; }
  a.button-large {
    padding: 15px 36px 17px;
    background: #232E3C;
    color: #FFF;
    border-radius: 6px; }
    a.button-large:hover {
      background: #2e3d4f; }
  a.link-small {
    font-size: 14px; }

ol,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav a {
  font-size: 14px; }

pre {
  font-family: "Roboto Mono";
  font-size: 14px;
  line-height: 22px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: normal;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px; }
  .container.container-small {
    max-width: 600px; }

nav {
  width: 100%;
  margin: 40px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  nav a {
    padding: 2px 4px;
    color: #B1B1B1; }
    nav a:nth-child(2) {
      margin: 0 40px; }
  nav .selected {
    color: #2E2E2E;
    border-bottom: 2px solid #2E2E2E; }

input[type=text],
input[type=email] {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #EFF3F7;
  font-family: "Roboto Mono";
  font-size: 14px;
  padding: 12px; }
  input[type=text]:focus,
  input[type=email]:focus {
    border-color: #232E3C; }

label {
  font-family: "Roboto Mono";
  font-weight: 500;
  color: #232E3C;
  font-size: 14px; }
  label:hover {
    cursor: pointer; }

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .input-group label {
    width: 100%;
    max-width: 170px; }
  .input-group input {
    width: 100%;
    margin-left: 20px; }

.examples {
  margin-top: 100px;
  margin-bottom: 120px; }
  .examples .inputs {
    margin-top: 80px; }

.donate {
  width: 100%;
  height: 50px;
  background-color: #167FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .donate .container {
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .donate p {
    margin-right: 30px;
    font-size: 14px;
    color: #FFFFFF; }
  .donate a {
    color: #FFFFFF; }
  .donate ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    .donate ul li:not(:last-child) a {
      display: inline-block;
      text-align: center;
      border: 2px solid #FFFFFF;
      width: 40px;
      height: 26px;
      margin-right: 10px;
      opacity: 0.5; }
      .donate ul li:not(:last-child) a:hover, .donate ul li:not(:last-child) a.active {
        opacity: 1; }
    .donate ul li:last-child a {
      margin-left: 10px; }

.hero {
  margin-top: 50px; }
  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    border-bottom: 2px solid #EFF3F7; }
  .hero h2 {
    font-weight: 100;
    color: #167FFF;
    margin-bottom: 4px; }
  .hero h1 {
    max-width: 510px;
    text-align: center;
    margin-bottom: 60px; }
  .hero .button-large {
    margin-bottom: 60px;
    position: relative; }
    .hero .button-large::after {
      content: "";
      position: absolute;
      left: calc(50% - 2px);
      top: 76px;
      display: inline-block;
      width: 2px;
      height: 20px;
      background-color: #DDDDDD; }
  .hero.home {
    color: #167FFF; }

.docs {
  margin-top: 100px;
  margin-bottom: 120px; }
  .docs h2 {
    margin-bottom: 80px; }
  .docs h3 {
    margin-bottom: 40px; }
  .docs .doc-point {
    max-width: 600px;
    margin-bottom: 60px;
    padding-bottom: 60px; }
    .docs .doc-point:not(:last-child) {
      border-bottom: 2px solid #EFF3F7; }
    .docs .doc-point h4 {
      margin-bottom: 14px; }
    .docs .doc-point p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #6B737C;
      margin-bottom: 20px; }
    .docs .doc-point div:not(:last-child) {
      margin-bottom: 60px; }
    .docs .doc-point pre + p {
      margin-top: 20px; }

footer {
  padding: 80px 0;
  background-color: #FAFAFA; }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer img {
    max-width: 120px;
    margin-bottom: 40px; }
  footer a {
    font-size: 14px; }
  footer ol {
    display: flex;
    margin-top: 30px; }
    footer ol li:nth-child(2)::before,
    footer ol li:nth-child(2)::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 2px;
      background-color: #DDDDDD;
      margin: 0 14px 4px 14px; }

/*# sourceMappingURL=main.css.map */
