@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  font-family: Chivo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1A232E;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -0.77px;
  margin: 0; }

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.58px;
  margin: 0; }

h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.36px;
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none;
  font-family: "Roboto Mono";
  font-weight: 700;
  color: #1A232E; }
  a:hover:not(.button-large) {
    opacity: 0.5; }
  a.button-large {
    display: block;
    font-size: 14px;
    padding: 15px 36px 17px;
    background: #1A232E;
    color: #FFF;
    border-radius: 6px; }
    a.button-large:hover {
      background: #253242; }
  a.link-small {
    font-size: 14px; }

ol,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav a {
  font-size: 14px; }

pre {
  font-family: "Roboto Mono";
  font-size: 14px;
  line-height: 22px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: normal;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px; }
  .container.container-narrow {
    max-width: 996px; }
  .container.container-small {
    max-width: 600px; }

.navigation {
  margin-top: 110px; }
  .navigation nav {
    width: 100%;
    margin: 40px 0 80px 0;
    display: flex;
    align-items: center; }
    .navigation nav a {
      padding: 2px 4px;
      color: #B1B1B1; }
      .navigation nav a:nth-child(2) {
        margin: 0 40px; }
    .navigation nav .selected {
      color: #2E2E2E;
      border-bottom: 2px solid #2E2E2E; }

input[type=text],
input[type=email] {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #EFF3F7;
  font-family: "Roboto Mono";
  font-size: 14px;
  padding: 12px; }
  input[type=text]:focus,
  input[type=email]:focus {
    border-color: #1A232E; }

label {
  font-family: "Roboto Mono";
  font-weight: 500;
  color: #1A232E;
  font-size: 14px; }
  label:hover {
    cursor: pointer; }

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .input-group label {
    width: 100%;
    max-width: 170px; }
  .input-group input {
    width: 100%;
    margin-left: 20px; }

.examples {
  margin-top: 100px;
  margin-bottom: 120px; }
  .examples .inputs {
    margin-top: 80px; }

.donate {
  width: 100%;
  height: 50px;
  background-color: #401EDF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .donate .container {
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .donate p {
    margin-right: 30px;
    font-size: 14px;
    color: #FFFFFF; }
  .donate a {
    color: #FFFFFF; }
  .donate ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    .donate ul li:not(:last-child) a {
      display: inline-block;
      text-align: center;
      border: 2px solid #FFFFFF;
      width: 40px;
      height: 26px;
      margin-right: 10px;
      opacity: 0.5; }
      .donate ul li:not(:last-child) a:hover, .donate ul li:not(:last-child) a.active {
        opacity: 1; }
    .donate ul li:last-child a {
      margin-left: 10px; }

.hero {
  margin-top: 50px; }
  .hero .border-bottom {
    border-bottom: 2px solid #EFF3F7; }
  .hero .container-narrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px; }
  .hero h1 {
    max-width: 510px; }
  .hero ul {
    display: flex;
    align-items: center; }
    .hero ul li:first-child {
      margin-right: 80px; }
  .hero .button-large {
    position: relative; }
    .hero .button-large::after {
      content: "";
      position: absolute;
      right: -50px;
      top: 26px;
      display: inline-block;
      width: 20px;
      height: 2px;
      background-color: #DDDDDD; }
  .hero.home {
    color: #401EDF; }

.docs {
  margin-top: 100px;
  margin-bottom: 120px; }
  .docs .container {
    display: flex;
    justify-content: space-between; }
  .docs .code-nav {
    max-width: 278px;
    margin-top: 116px; }
    .docs .code-nav ol li {
      margin-bottom: 16px; }
      .docs .code-nav ol li a.active {
        color: #401EDF; }
        .docs .code-nav ol li a.active::before {
          content: "—  "; }
      .docs .code-nav ol li a:not(.active) {
        color: #A4ADB9; }
        .docs .code-nav ol li a:not(.active):hover {
          margin-left: 3px; }
  .docs .docs-content {
    max-width: 590px; }
  .docs h2 {
    margin-bottom: 80px; }
  .docs h3 {
    margin-bottom: 40px; }
  .docs .doc-point {
    margin-bottom: 55px;
    padding-bottom: 55px; }
    .docs .doc-point h4 {
      margin-bottom: 14px; }
    .docs .doc-point p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.13px;
      color: #A4ADB9;
      margin-bottom: 10px; }
    .docs .doc-point div:not(:last-child) {
      margin-bottom: 60px; }
    .docs .doc-point pre + p {
      margin-top: 20px; }

footer {
  padding: 80px 0;
  background-color: #FAFAFA; }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer img {
    max-width: 120px;
    margin-bottom: 40px; }
  footer a {
    font-size: 14px; }
  footer ol {
    display: flex;
    margin-top: 30px; }
    footer ol li:nth-child(2)::before,
    footer ol li:nth-child(2)::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 2px;
      background-color: #DDDDDD;
      margin: 0 14px 4px 14px; }

/*# sourceMappingURL=main.css.map */
