$color-main: #401EDF
$color-dark: #1A232E
$color-light: #A4ADB9
$color-borders: #EFF3F7

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  font-family: Chivo, "Helvetica Neue", Helvetica, Arial, sans-serif
  color: $color-dark
  -webkit-font-smoothing: antialiased

h1
  font-size: 42px
  line-height: 44px
  font-weight: 700
  letter-spacing: -0.77px
  margin: 0

h2
  font-size: 32px
  font-weight: 700
  letter-spacing: -0.58px
  margin: 0

h3
  font-size: 24px
  font-weight: 700
  letter-spacing: -0.36px
  margin: 0

p
  margin: 0

a
  text-decoration: none
  font-family: "Roboto Mono"
  font-weight: 700
  color: $color-dark

  &:hover:not(.button-large)
    opacity: .5

  &.button-large
    display: block
    font-size: 14px
    padding: 15px 36px 17px
    background: $color-dark
    color: #FFF
    border-radius: 6px

    &:hover
      background: lighten($color-dark, 6%)

  &.link-small
    font-size: 14px

ol,
ul,
li
  list-style-type: none
  padding: 0
  margin: 0

nav a
  font-size: 14px

pre
  font-family: "Roboto Mono"
  font-size: 14px
  line-height: 22px
  overflow-x: auto
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: normal
  margin: 0

.container
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 0 16px

  &.container-narrow
    max-width: 996px

  &.container-small
    max-width: 600px

.navigation
  margin-top: 110px

  nav
    width: 100%
    margin: 40px 0 80px 0
    display: flex
    align-items: center

    a
      padding: 2px 4px
      color: #B1B1B1
      &:nth-child(2)
        margin: 0 40px

    .selected
      color: #2E2E2E
      border-bottom: 2px solid #2E2E2E

input[type=text],
input[type=email],
  -moz-appearance: none
  -webkit-appearance: none
  outline: none
  border: none
  border-bottom: 2px solid $color-borders
  font-family: "Roboto Mono"
  font-size: 14px
  padding: 12px

  &:focus
    border-color: $color-dark


label
  font-family: "Roboto Mono"
  font-weight: 500
  color: $color-dark
  font-size: 14px

  &:hover
    cursor: pointer

.input-group
  display: flex
  align-items: center
  margin-bottom: 20px

  label
    width: 100%
    max-width: 170px

  input
    width: 100%
    margin-left: 20px

.examples
  margin-top: 100px
  margin-bottom: 120px

  .inputs
    margin-top: 80px

.donate
  width: 100%
  height: 50px
  background-color: $color-main
  position: fixed
  top: 0
  left: 0
  z-index: 100

  .container
    height: 98%
    display: flex
    align-items: center
    justify-content: center

  p
    margin-right: 30px
    font-size: 14px
    color: #FFFFFF

  a
    color: #FFFFFF

  ul
    display: flex
    align-items: center
    justify-content: center

    li:not(:last-child) a
      display: inline-block
      text-align: center
      border: 2px solid #FFFFFF
      width: 40px
      height: 26px
      margin-right: 10px
      opacity: .5

      &:hover,
      &.active
        opacity: 1

    li:last-child a
      margin-left: 10px

.hero
  margin-top: 50px

  .border-bottom
    border-bottom: 2px solid $color-borders

  .container-narrow
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 120px

  h1
    max-width: 510px

  ul
    display: flex
    align-items: center

    li:first-child
      margin-right: 80px

  .button-large
    position: relative

    &::after
      content: ""
      position: absolute
      right: -50px
      top: 26px
      display: inline-block
      width: 20px
      height: 2px
      background-color: #DDDDDD

  &.home
    color: $color-main

.docs
  margin-top: 100px
  margin-bottom: 120px

  .container
    display: flex
    justify-content: space-between

  .code-nav
    max-width: 278px
    margin-top: 116px

    ol li
      margin-bottom: 16px

      a.active
        color: $color-main

        &::before
          content: "—  "

      a:not(.active)
        color: $color-light

        &:hover
          margin-left: 3px

  .docs-content
    max-width: 590px

  h2
    margin-bottom: 80px

  h3
    margin-bottom: 40px

  .doc-point
    margin-bottom: 55px
    padding-bottom: 55px

    h4
      margin-bottom: 14px

    p
      font-size: 14px
      line-height: 20px
      letter-spacing: -0.13px
      color: $color-light
      margin-bottom: 10px

    div:not(:last-child)
      margin-bottom: 60px

    pre + p
      margin-top: 20px

footer
  padding: 80px 0
  background-color: #FAFAFA

  .container
    display: flex
    flex-direction: column
    align-items: center

  img
    max-width: 120px
    margin-bottom: 40px

  a
    font-size: 14px

  ol
    display: flex
    margin-top: 30px

    li:nth-child(2)::before,
    li:nth-child(2)::after
      content: ""
      display: inline-block
      width: 12px
      height: 2px
      background-color: #DDDDDD
      margin: 0 14px 4px 14px
