* { margin:0px; padding: 0px; }

img { border: 0px; }

a:link {text-decoration: none; }
a:visited {text-decoration: none}
a:hover {text-decoration: underline;}
a:active {text-decoration: none}

body {
	background: #161613;
	color: #CCC;
	font: 86% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#content {background-color:#1F1E1D; width: 500px; margin: 0 auto; padding: 10px}

h1, h2, h3{ font-family: "Trebuchet MS",Verdana,Sans-Serif;}

h1 { font-size: 2.3em; color:#D0EB6B;}
h1 a { border: none; }
h1 em{ font-size: 1.25em; color: #D0EB6A; font-style: normal; }

h2 {
	font-size: 1.5em;
	letter-spacing: 0.4pt;
	color: #D0EB6A;
	text-transform: uppercase;
	padding-top: 0.5em;
}

h3 {
	font-size: 1.0em;
	letter-spacing: 0.2pt;
	color: #c0dB5A;
	text-transform: uppercase;
	padding-top: 0.5em;
}

p a {color:#D0EB6B;}

pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

label {display:block;}
input {border:1px solid #333;background-color:#161613;padding:5px;width:400px;color:#D0EB6B;}

